.banner {
  background-image: url("./banner.jpg");
  background-size: 100%;
  height: 501px;
  text-transform: uppercase;
  text-align: left;
}
.button {
  background: #ff8a00;
  border-radius: 50px;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
}

.button:hover {
  background: #ff8a00;
  border-radius: 50px;
  color: white;
}
